:root {
  --fonte-padrão: "Montserrat", sans-serif;
  --color-preto: #000;
  --color-branco: #fff;
  --color-cinza: #999;
  --color-verde: #4caf50;
  --color-azul: #007bff;
  --color-vermelho: #e53935;
  --border-radius: 5px;
  --transição: 0.3s ease;
  --padding-pequeno: 0.4rem 0.8rem;
  --padding-medio: 0.6rem 1.2rem;
  --border-color: #000000;
  --gap-pequeno: 0.5rem;
  --gap-medio: 1rem;
  --gap-grande: 1.5rem;
}

body {
  font-family: var(--fonte-padrão);
  background-color: var(--color-branco);
}

.pagina-equipamentos {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudo-equipamentos {
  flex: 1;
  padding: 1rem 1.5rem;
}

.filtros {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medio);
  margin-bottom: 2rem;
}

.linha-botoes-carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.barra-pesquisa-container{
  gap: 1em;
}

.campo-pesquisar{
  position: relative;
  display: flex;
}

.input-pesquisa {
  width: 100%;
  padding: 0.6rem 2.5rem 0.6rem 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  min-width: 200px;
}

.icone-pesquisa {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0.8em;
  top: 0.5em;
  pointer-events: none;
}

.icone-carrinho  {
  border: none;
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icone-carrinho :hover {
  transform: scale(1.1);
}

.select-filtro {
  appearance: none;
  background-color: var(--color-branco);
  color: var(--color-preto);
  padding: var(--padding-medio);
  border-radius: var(--border-radius);
  font-weight: bold;
  border: none;
  min-width: 160px;
  cursor: pointer;
  font-family: var(--fonte-texto);
}

.select-filtro-container {
  position: relative;
  display: inline-block;
}

.icone-arrow-select {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  pointer-events: none;
  font-size: 1.3em;
  color: var(--color-branco);
  transition: transform 0.3s;
}

.icone-arrow-select.aberto {
  transform: translateY(-50%) rotate(180deg);
}

.linha-pesquisa-filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  gap: var(--gap-medio);
}

.container-filtros {
  display: flex;
  gap: var(--gap-medio);
}

.botao-secundario {
  background-color: transparent;
  border: 1px solid var(--color-preto);
  color: var(--color-preto);
  font-weight: bold;
  padding: var(--padding-medio);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.botao-secundario:hover {
  background-color: var(--color-preto);
  color: var(--color-branco);
  transition: background-color var(--transição);
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--gap-grande);
  margin-top: 1.5rem;

}

.nenhum-pedido {
  text-align: center;
  font-weight: bold;
  color: var(--color-cinza);
  grid-column: 1 / -1;
  padding: 2rem;
}

.contato {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.contato a {
  text-decoration: none;
  color: #0D6EFD;
}

@media (max-width: 768px) {
  .conteudo-equipamentos {
    padding: 1rem 1.5rem;
  }

  .linha-pesquisa-filtros,
  .container-filtros {
    flex-direction: column;
    gap: var(--gap-pequeno);
    align-items: stretch;
  }

  .filtros {
    gap: var(--gap-pequeno);
    margin-bottom: 1rem;
  }

  .linha-botoes-carrinho {
    flex-direction: column;
    align-items: stretch; 
    gap: var(--gap-pequeno);
    align-items: center;
  }

  .grid-produtos {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: var(--gap-medio);
    margin-top: 1rem;
  }

  .select-filtro {
    width: 100%;
    font-size: 0.9rem;
    background-size: 18px;
  }

  .barra-pesquisa-container{
    gap: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .campo-pesquisar{
    width: 80%;
    display: flex;
    position: relative;
    flex-direction: row;
  }

  .input-pesquisa {
    width: 100%;
    font-size: 0.9rem;
    padding-right: 2rem;
  }

  .icone-pesquisa{
    position: absolute;
    right: 1em;
    top: 0.5em;
  }

  .paginacao {
    margin-top: 1rem;
    gap: 0.2rem;
    font-size: 0.9rem;
  }

  .modal {
    max-width: 98vw;
    max-height: 80vh;
    padding: 0.5rem;
  }
}