/* Animação da luz tremulando*/
@keyframes flicker {
    0% { opacity: 0.8; }
    5% { opacity: 0.9; }
    10% { opacity: 0.8; }
    15% { opacity: 1; }
    50% { opacity: 0.9; }
    100% { opacity: 0.8; }
}

.container-login {
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle at center, #1a1a1a 0%, #000000 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .container-logo {
        position: absolute;
        top: 38%;
        left: 10%; 
        z-index: 2; 

        img {
            height: 150px;
            width: 250px;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
        }
    }
    
    .container-formulario {
        height: 65%;
        width: 27%;
        border-radius: 8px;
        background-color: white; 
        margin-left: 35%; 

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        
        position: relative; 
        z-index: 5; 
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.1); 

        &::before {
            content: '';
            position: absolute;
            top: 15%;
            right: 20%; 
            width: 50vw; 
            height: 70%; 
            
            background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.15) 100%);
            
            clip-path: polygon(0 42%, 100% 0, 100% 100%, 0 58%);
            
            animation: flicker 4s infinite; 
            z-index: -1; 
            pointer-events: none;
        }

        .barra-divisoria-login {
            border-radius: 3px;
            height: 3.5px;
            width: 60%;
            background-image: linear-gradient(to right, #FF0000, #351DF1, #007D1D);
            margin: 1%;
        }

        h1 {
            font-family: var(--fonte-titulo);
            font-size: 200%;
            margin: 0;
            color: black; 
        }

        .caixa-entrada {
            height: 15%;
            width: 60%;
            display: flex;
            justify-content: center;
        }

        .links-navegacao {
            height: 15%;
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            font-family: var(--fonte-titulo);
            
            a {
                color: black;
                font-size: 0.9em;    
            }
        }

        button {
            height: 2.375rem;
            width: 6.375rem;
            color: white;
            cursor: pointer;
            font-size: 1.2em;
            margin-top: 3%;
            border-radius: 6px;
            background-color: black;
            border: 1px solid black;
            font-family: var(--fonte-texto);
        }
        
        button:active {
            transition: 0.3s;
            transform: scale(0.95);
        }
    }
}

@media (max-width: 1024px) {
    .container-login {
        flex-direction:column-reverse; 
        
        .container-logo {
            position: relative;
            top: auto;
            left: auto;
            margin-top: 60px; 
            margin-bottom: 20px; 

        img {
            height: 90px;
            width: 150px;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
        }
        }

        .container-formulario {
            height: 45%;
            width: 80%;
            margin-left: 0;

            &::before {
                display: none;
            }

            h1 {
                font-family: var(--fonte-titulo);
                font-size: 150%;
                color: black;
                margin: 0;
            }

            button {
                height: 10%;
                width: 40%;
            }

            .links-navegacao {
                height: 15%;
                width: 80%;
            }
        }
    }
}