.container-login{
    height: 100vh;
    width: 100%;
    background-color: #171717;

    display: flex;
    align-items: center;
    justify-content: center;

    .container-formulario{
        height: 65%;
        width: 27%;
        border-radius: 8px;
        background-color: white;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

        .barra-divisoria-login{
            border-radius: 3px;
            height: 3.5px;
            width: 60%;
            background-image: linear-gradient(to right, #FF0000, #351DF1, #007D1D);
            margin: 1%
        }

        h1{
            font-family: var(--fonte-titulo);
            font-size: 200%;
            margin: 0;
        }

        .caixa-entrada {
            height: 15%;
            width: 60%;
            display: flex;
            justify-content: center;
        }

        .links-navegacao {
            height: 15%;
            width: 75%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;

            font-family: var(--fonte-titulo);
            a {
                color: black;
                font-size: 0.9em;    
            }
        }

        button{
            height: 2.375rem;
            width: 6.375rem;
            color: white;
            cursor: pointer;
            font-size: 1.2em;
            margin-top: 3%;
            border-radius: 6px;
            background-color: black;
            border: 1px solid black;
            font-family: var(--fonte-texto);
        }
        button:active{
            transition: 0.3s;
            transform: scale(0.95);
        }
    }
}


@media (max-width: 768px) {
    .container-login{
        .container-formulario{
            height: 45%;
            width: 80%;

                h1{
                    font-family: var(--fonte-titulo);
                    font-size: 150%;
                    color: black;
                    margin: 0;
                }

                button{
                height: 10%;
                width: 40%;
                }

                .links-navegacao {
                height: 15%;
                width: 80%;
                }
        }
    }
}