.finalizar-pedido{
    min-height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1{
        margin: 1em 0px;
        width: 85%;
        font-family: var(--fonte-titulo);
    }

    .titulo-finalizar-pedido{
        text-align: center;
        font-size: 2em;
    }

    .container-equipamentos{
        min-height: 35vh;
        width: 75%;
        padding: 1% 2%;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-shadow: 0 6px 32px rgba(0, 0, 0, 0.18);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .container-endereco{
        height: 60vh;
        width: 75%;
        padding: 2%;
        margin: 2% 0px;
        border: 1px solid black;
        border-radius: 4px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        h2{
            margin: 1% 0px;
            font-family: var(--fonte-titulo);
        }
        .box-informacoes{
            height: 20%;
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            .secao-informacoes{
                height: 100%;
                width: 30%;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;

                font-family: var(--fonte-texto);
                input{
                    height: 40%;
                    width: 97%;
                    outline: none;
                }
                
            }
        }
        .box-complemento{
            height: 20%;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;

            font-family: var(--fonte-texto);
            input{
                height: 40%;
                width: 99.2%;
                outline: none;
            }
        }
    }

    .container-observacao{
        height: 15vh;
        width: 75%;
        margin: 0px 0px 2% 0px;
        

        font-family: var(--fonte-texto);
        font-size: 1.1em;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        textarea{
            height: 40%;
            font-family: var(--fonte-texto);
            padding: 1%;
        }
    }

    .container-documentos{
        min-height: 25vh;
        width: 75%;
        
        span{
            font-size: 1.1em;
            font-family: var(--fonte-texto);
        }

        .box-documento{
            height: 15%;
            width: 100%;
            margin: 1% 0px;

            display: flex;
            align-items: center;
            font-size: 0.8em;
            gap: 1em;
            font-family: var(--fonte-texto);

            .icone-check{
                height: 100%;
                width: 30%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;

                label{
                    border: 1px solid black;
                    padding: 0.6em;
                    margin-left: 1%;
                    cursor: pointer;
                    border-radius: 6px;
                }
                label:hover{
                    color: white;
                    transition: 0.2s;
                    background-color: black;
                }
            }
        }
    }
    
    .box-preenchimento-obrigatorio{
        width: 75%;
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        font-size: 1em;
        font-family: var(--fonte-texto);
    }

    .modal-content {
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid black;
        height: 80%;
        width: 30%;
        margin: 5vh 0px;
        padding: 2% 3%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        p{
            text-align: center;
        }
    
        .botao-voltar{
            height: 38px;
            width: 102px;
            margin-top: 10px;
            background-color: white;
            color: black;
            border: none;
            font-size: 1rem;
            font-family: var(--fonte-texto);
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s ease;
            border: 1px black solid;
        }
        .botao-voltar:hover{
            transition: 0.3s;
            background-color: black;
            color: white;
        }
    }
    
    .modal-content-pedido-confirmado{
        text-align: center;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 10px;
        width: 38%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2% 1%;

        .titulo-finalizar-pedido{
            margin: 2%;
        }

        .numero-serie-pedido{
            margin: 0px;
        }
    }

    .botoes-modal{
        width: 70%;
        display: flex;
        justify-content: center;
        gap: 3%;
    }
    .botao-confirmar{
        height: 38px;
        width: 130px;
        margin-top: 10px;
        background-color: black;
        color: white;
        border: none;
        font-size: 1rem;
        font-family: var(--fonte-texto);
        border-radius: 6px;
        cursor: pointer;
        transition: 0.2s ease;
    }
    .botao-confirmar:hover{
        transition: 0.3s;
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}

@media screen and (max-width: 768px){
    
    .finalizar-pedido{
        padding: 1em 0px;
        min-height: 50vh;
        h1{
            width: 80%;
            font-size: 1.2em;
        }

        .container-endereco{
            height: auto;

            h2{
                font-size: 1.2em;
            }

            .box-informacoes{
                flex-direction: column;
                height: auto;

                .secao-informacoes{
                    height: 10vh;
                    width: 100%;
                    input{
                        width: 97%;
                    }
                }
            }

            .box-complemento{
                height: 10vh;
                width: 100%;

                input{
                    width: 97%;
                }
            }
        }

        .container-observacao{
            width: 80%;
            
            textarea{
                width: 97%;
            }
        }

        .container-documentos{
            width: 80%;

            .box-documento{
                align-items: flex-start;
                flex-direction: column;
            }

            .box-documento{
                height: auto;
                margin: 4% 0px;

                .icone-check{
                    width: 100%;
                    label{
                        padding: 3% 2%;
                        margin: 2% 0px;
                    }
                }
            }
        }

        .modal-content{
            width: 80%;
            h2{
                font-size: 1.4em;
            }
            .botoes-modal{
                width: 100%;
                margin: 2% 0px;
                
                .botao-voltar{
                    width: 80px;
                }
            }
        }

        .botao-confirmar{
            width: 120px;
        }

        .modal-content-pedido-confirmado{
            width: 80%;
            padding: 3% 3%;
            margin: 5vh 0px;
            h2{
                font-size: 1.4em;
            }
            h3{
                font-size: 1em;
            }
        }
    }
}