 :root {
     --fonte-titulo: "Montserrat Alternates", sans-serif;
     --fonte-texto: "Montserrat", sans-serif;
     --textos-branco: #FFFFFF;
     --textos-preto: #000000;
     --margin-textos: 3%;
     --tamanho-fonte-texto: 20px;
 }

 body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
 }

 .titulo {
     color: white;
     text-align: center;
     font-size: 50px;
     margin-top: 20px;
     margin-bottom: 20px;
     font-family: "Montserrat alternates", sans-serif;
     margin: 0;

     animation: fadeInUp 1.5s ease-out forwards;
     opacity: 0;
 }
     @keyframes fadeInUp {
         from {
             opacity: 0;
             transform: translateY(20px);
         }

         to {
             opacity: 1;
             transform: translateY(0);
         }
     }

 .container-home {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100%;
     position: relative;
     z-index: 1;
     background-color: black;

 }

 .container-inicial {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 90vh;
     overflow: hidden;
 }

 .container-imagem {
     display: flex;
     gap: 15px;
     flex-direction: column;
     height: 100%;
     justify-content: center;
     align-items: center;
     position: relative;
     background-color: black;

     .logo-inicial {
         width: 120px;
         transition: transform 0.3s ease;
     }

     .logo-inicial:hover {
         transform: scale(1.05) rotate(-2deg);
     }

 }

 .container-video {
     position: relative;
     width: 90%;
     height: 90vh;
     overflow: hidden;

     .container-titulo {
         position: relative;
         z-index: 1;
         color: white;
         text-align: center;
         padding-top: 100px;
     }


.video-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transition: transform 0.1s ease-out;
    will-change: transform; 

    @media (min-width: 1024px) {
    -webkit-mask-image: linear-gradient(to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 100%);
    mask-image: linear-gradient(to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 10%);
    }
}

 }

 .container-sobre-nos {
     display: flex;
     background-color: #484d50;
     flex-direction: column;
     height: 100%;
     width: 100%;
     position: relative;
     color: white;
     font-family: "Montserrat Alternates", sans-serif;
     padding-bottom: var(--margin-textos);

     h2 {
         font-size: 36px;
         text-align: left;
         margin-left: var(--margin-textos);
         margin-right: var(--margin-textos);
         margin-top: 2%;
     }

     p {
         font-size: var(--tamanho-fonte-texto);
         text-align: justify;
         margin-top: 0%;
         margin-left: var(--margin-textos);
         margin-right: var(--margin-textos);
     }
 }



  .container-equipamentos-home {
     display: flex;
     background-color: black;
     flex-direction: column;
     height: 100%;
     width: 100%;
     position: relative;
     color: white;
     font-family: "Montserrat Alternates", sans-serif;
     padding-bottom: var(--margin-textos);
     

     h2 {
         font-size: 36px;
         text-align: left;
         margin: 2% var(--margin-textos);
     }

     .conteudo-equipamentos {
        display: flex;
        flex-direction: row;
        padding: 0;
        padding-right: 5%;
    }

    .conteudo-equipamentos p {
         font-size: var(--tamanho-fonte-texto);  
         justify-content: center;
         margin-top: 0%;
         margin-left: var(--margin-textos);
         margin-right: 5%;
        text-align: justify;

         a{
            color: white;
            text-decoration: none;
            text-align:start;
            font-size: 20px;
            font-weight: bold;
         }
     }

        .foto-equipamento {
            opacity: 0;
            transition: opacity 0.5s ease-out;
        }

        .foto-equipamento.show {
            animation: fadeInUp 1.5s ease-out forwards;
            opacity: 1; 
        }
 }

 .container-servicos {
     display: flex;
     background-color: white;
     flex-direction: column;
     height: 100%;
     width: 100%;
     position: relative;
     color: black;
     font-family: "Montserrat Alternates", sans-serif;

     p {
         text-align: justify;
         padding: 20px;
     }

     h2 {
         font-size: 36px;
         text-align: left;
         margin-left: var(--margin-textos);
         margin-right: var(--margin-textos);
         margin-top: 2%;
     }
 }

 .container-carrosel {
     display: flex;
     background-color: #000;
     flex-direction: column;
     height: 80%;
     width: 85%;
     padding: 10px;
     border-radius: 10px;
     color: white;
     margin: auto;
     font-family: "Montserrat Alternates", sans-serif;
     margin-bottom: var(--margin-textos);

     p {
         text-align: center;
         font-size: var(--tamanho-fonte-texto);
     }

 }

 .container-projeto-conteudo {
    margin-top: 1%;
     display: flex;
 }

 .container-projeto-primeira-foto,
 .container-projeto-segunda-foto {
     display: flex;
 }

 @media (max-width: 768px) {

     .titulo {
         color: white;
         text-align: center;
         font-size: 35px;
         margin-top: 20px;
         margin-bottom: 20px;
         font-family: "Montserrat alternates", sans-serif;
         margin: 0;
     }

     .container-equipamentos-home {
        .conteudo-equipamentos {
            padding-right: 0%;
            flex-direction: column;
        }
     }

     .container-video {
         position: relative;
         width: 100%;
         height: 51vh;
         overflow: hidden;
     }

     .container-projeto-conteudo {
         display: flex;
         flex-direction: column;
     }

     .container-projeto-primeira-foto {
         flex-direction: column-reverse;
     }

     .container-projeto-segunda-foto {
         flex-direction: column;
     }


 }

 .container-projeto {
     display: flex;
     flex-direction: column;
     background-color: black;
     height: 100%;
     width: 100%;
     position: relative;
     color: white;
     font-family: "Montserrat Alternates", sans-serif;
     padding-bottom: var(--margin-textos);

     h2 {
         font-size: 36px;
         text-align: left;
         margin-left: var(--margin-textos);
         margin-right: var(--margin-textos);
         margin-top: 2%;
         margin-bottom: 0%;
     }

     p {
         font-size: var(--tamanho-fonte-texto);
         text-align: justify;
         margin-top: 0%;
         margin-left: var(--margin-textos);
         margin-right: var(--margin-textos);
     }

     img {
         width: 40%;
         height: 30%;
     }
 }