.carrinho{
    min-height: 90vh;
    width: 100vw;

    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        width: 85%;
        font-family: var(--fonte-titulo);
    }

    .container-equipamentos{
        height: 80%;
        width: 75%;
        padding: 2%;
        border-radius: 4px;
        border: 1px solid black;
 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .box-sem-produtos{
        height: 40vh;
        width: 70%;

        display: flex;
        align-items: center;
        justify-content: center;

        h2{
            font-family: var(--fonte-texto);
            color: #999;
            font-weight: bold;
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    
    .carrinho{
        padding: 1em 0px;
        h1{
            width: 80%;
            font-size: 1.2em;
        }

        .container-equipamentos{
            width: 75%;
            align-items: center;
        }
    }
}