
.container-endereco{
    height: 90vh;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    h1{
        width: 85%;   
        font-family: var(--fonte-titulo);
    }

    .box-endereco{
        height: 60%;
        width: 80%;
        border: 1px solid black;
        border-radius: 4px;
        padding: 1em 0px;

        display: flex;
        align-items: center;
        flex-direction: column;

        .box-informacoes{
            height: 20%;
            width: 100%;
            margin: 1%;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        
            .secao-entrada{
                height: 100%;
                width: 30%;
            }

            .tipo-evento{
                height: 100%;
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                font-family: var(--fonte-texto);
                select{
                    width: 100%;
                    height: 45%;
                    padding-left: 3px;

                    color: white;
                    border: 1px solid black;
                    background-color: black;
                    box-shadow: 1px 2px 2px grey;
                    font-family: var(--fonte-texto);
                }
            }
        }
        .box-complemento{
            height: 20%;
            width: 100%;
            margin: 1%;
            
            display: flex;
            justify-content: center;
            .secao-entrada{
                height: 100%;
                width: 95%;

                input{
                    width: 99.3%;
                }
            }
        }
        
        .box-preenchimento-obrigatorio{
            height: 10%;
            width: 100%;

            display: flex;
            justify-content: flex-end;
            padding-right: 5%;
            font-family: var(--fonte-texto);
        }
    }
}

@media screen and (max-width: 768px){
    
    .container-endereco{
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 1em 0px;
        h1{
            width: 80%;
            font-size: 1.2em;
        }
        .box-endereco{
            height: auto;
            padding: 1vh 0px;
            justify-content: space-evenly;
            
            .box-informacoes{
                min-height: 30vh;
                flex-direction: column;
                justify-content: space-evenly;

                .secao-entrada{
                    width: 90%;
                    height: 10vh;
                }

                .tipo-evento{
                    width: 90%;
                    height: 11vh;

                    button{
                        margin-bottom: 2%;
                    }
                }
            }
            .box-complemento{
                width: 90%;
                height: 10vh;

                .secao-entrada{
                    width: 100%;
                    height: 100%;
                    
                    .container-input{
                        width: 98.5%;
                        height: 100%;
                    }
                }
            }

            .box-preenchimento-obrigatorio{
                height: 3%;
                width: 90%;
                justify-content: flex-end;
                padding: 1em 0px;
            }
        }
    }
}