.perfil {
    background-color: #171717;
    min-height: 35rem;
    padding: 10vh 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container-perfil {
        height: 90vh;
        width: 35%;
        background-color: #fff;

        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--fonte-titulo);

        .titulo-form {
            width: 80%;
            display: flex;
            align-items: center;
            flex-direction: column;

            .barra {
                height: 2px;
                width: 65%;
                background-image: linear-gradient(to right, #FF0000, #351DF1, #007D1D);
            }
        }

        .dados-pessoais {
            height: 40%;
            width: 80%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: var(--fonte-texto);

            h3 {
                padding: 2%;
                width: 50%;
                margin: 0px;
                margin-bottom: 2%;
                border-bottom: 1px solid black;
                font-weight: normal;
            }
        }

        .dados-endereco {
            height: 40%;
            width: 80%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: var(--fonte-texto);

            h3 {
                padding: 2%;
                width: 30%;
                margin: 0px;
                margin-bottom: 2%;
                border-bottom: 1px solid black;
                font-weight: normal;
            }
        }

        .container-eventos {
            height: 10%;
            width: 90%;
            margin-top: 3%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .eventos-excluir-editar {
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                /* quando a tela excluir-conta estiver pronta remover o button */
                .botao-excluir,
                .botao-editar {
                    height: 2.375rem;
                    width: 6.375rem;
                    margin-left: 2%;
                    font-size: 0.8em;
                    font-family: var(--fonte-texto);
                }

                .botao-excluir {
                    color: white;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    background-color: #EE1C27;
                }

                .botao-excluir:hover {
                    transition: 0.2s;
                    background-color: #d81b24;
                }

                .botao-editar {
                    background-color: black;
                    color: white;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    justify-content: center;
                    text-align: center;
                }

                .botao-editar:hover {
                    transition: 0.2s;
                }

                .botao-excluir:active,
                .botao-editar:active {
                    transform: scale(0.98);
                    transition: 0.3s;
                }

            }

            .evento-voltar {

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                .botao-retroceder {
                    height: 2.375rem;
                    width: 6.375rem;
                    padding: 5%;

                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    justify-content: center;

                    color: black;
                    cursor: pointer;
                    font-weight: normal;
                    border-radius: 8px;
                    background-color: white;
                    border: 1px solid black;
                    font-family: var(--fonte-texto);
                }

                .botao-retroceder:hover {
                    color: white;
                    transition: 0.3s;
                    background-color: black;
                }

                .botao-retroceder:active {
                    transition: 0.2s;
                    transform: scale(0.95);
                }
            }
        }

        .dados-utilitarios {
            height: 6%;
            width: 95%;
            margin: 3%;

            display: flex;
            font-size: 0.7em;
            flex-direction: column;
            justify-content: flex-end;
            font-family: var(--fonte-texto);
        }
    }

    .aviso-excluir-conta {
        color: #FF0000;
        font-family: "Montserrat Alternates", sans-serif;
    }

    .modal-content {
        background-color: white;
        padding: 2rem;
        border-radius: 10px;
        width: 25rem;
        text-align: center;
        display: flex;
        flex-direction: column;

        h2 {
            font-family: "Montserrat", sans-serif;
        }

        h1 {
            font-size: 150%;
            margin: 0.2em 0px;
        }

        .input-alteracao-senha {
            text-align: start;
        }

        .container-input {
            padding: 0px;
            margin-top: 0.5rem;
            align-items: center;


            label {
                justify-content: flex-start;
                display: flex;
            }

            input {
                width: 20rem;
                height: 4vh;
                margin-top: 0.3em;
            }
        }
    }

    .botoes {
        display: flex;
        justify-content: right;
        margin-top: 1rem;
        gap: 2%;
        height: 100%;

        .botao-cancelar {
            height: 38px;
            width: 102px;
            margin-top: 10px;
            background-color: white;
            color: black;
            border: none;
            font-size: 1rem;
            font-family: var(--fonte-texto);
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s ease;
            border: 1px black solid;
        }

        .botao-cancelar:hover {
            transition: 0.3s;
            background-color: black;
            color: white;
        }

        .botao-cancelar:active {
            transform: scale(0.95);
        }

        .botao-confirmar {
            height: 38px;
            width: 102px;
            margin-top: 10px;
            background-color: black;
            color: white;
            border: 1px solid black;
            font-size: 1rem;
            font-family: var(--fonte-texto);
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s ease;
            border: 1px black solid;
        }

        .botao-confirmar:hover {
            background-color: white;
            color: black;
            transition: 0.3s;
        }

        .botao-confirmar:active {
            transition: 0.3s;
            transform: scale(0.95);
        }
    }
}

@media (max-width: 768px) {
    .perfil {

        .container-perfil {
            width: 20rem;
            height: 38rem;
            position: absolute;

            .titulo-form {
                width: 80%;
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: 100%;

                .barra {
                    height: 2px;
                    width: 90%;
                    margin-bottom: 4%;
                    background-image: linear-gradient(to right, #FF0000, #351DF1, #007D1D);
                }
            }

            .dados-pessoais {
                height: 40%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-family: var(--fonte-texto);
                overflow-wrap: break-word;

                h3 {
                    width: 95%;
                }
            }

            .dados-endereco {
                height: 30%;
                width: 80%;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-family: var(--fonte-texto);
                overflow-wrap: break-word;

                h3 {
                    width: 95%;
                }
            }

            .container-eventos {
                width: 100%;
                height: 7%;
                align-items: center;

                .eventos-excluir-editar {
                    width: 100%;
                    justify-content: flex-start;
                    margin: 1%;

                    .botao-excluir,
                    .botao-editar {
                        padding: 0;
                        height: 2.375rem;
                        width: 5.5rem;
                    }
                }

                .evento-voltar {
                    width: 20%;
                    margin: 1%;
                    padding: 1%;


                    .botao-retroceder {
                        height: 2.375rem;
                        width: 6.375rem;
                    }
                }
            }

            .dados-utilitarios {
                padding: 1%;
                margin: 1%;
            }
        }

        .modal-content {
            height: 40%;
            width: 70%;
            padding: 1rem;
            margin-top: 0.5rem;

            h1 {
                font-size: 1.2rem;
            }

            .container-input {
                input {
                    height: 4vh;
                    width: 15rem;
                }
            }
        }

        .botoes {
            align-items: center;

            .botao-cancelar,
            .botao-confirmar {
                height: 2.375rem;
                width: 6.375rem;
            }
        }
    }
}