
.container-endereco{
    height: 95vh;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    h1{
        margin: 1em 0px;
        width: 85%;   
        font-family: var(--fonte-titulo);
    }

    .box-endereco{
        height: auto;
        width: 80%;
        border: 1px solid #ccc;
        box-shadow: 0 6px 32px rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        padding: 1em 0px;

        display: flex;
        align-items: center;
        flex-direction: column;

        .box-informacoes{
            height: auto;
            width: 100%;
            margin: 1em;            
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        
            .secao-entrada, .secao-entrada-data{
                width: 30%;
                .container-input{
                    gap: 0.25em;
                }
            }

            .secao-entrada{
                max-height: 8vh;
            }
            .secao-entrada-data{
                height: 9vh;
            }

            .tipo-evento{
                min-height: 4vh;
                width: 30%;
                display: flex;
                flex-direction: column;
                font-family: var(--fonte-texto);
                gap: 0.25em;
                
                select{
                    height: 5vh;
                    width: 100%;

                    border: 1px solid black;
                    box-shadow: 1px 2px 2px grey;
                    font-family: var(--fonte-texto);
                }
            }
        }
        .box-complemento{
            height: 20%;
            width: 100%;
            margin: 1%;
            
            display: flex;
            justify-content: center;
            .secao-entrada{
                height: 100%;
                width: 95%;

                .container-input{
                    gap: 0.25em;
                }
                input{
                    width: 100%;
                }
            }
        }
        
        .box-preenchimento-obrigatorio{
            height: 10%;
            width: 100%;

            display: flex;
            justify-content: flex-end;
            padding-right: 5%;
            font-family: var(--fonte-texto);
        }
    }
}

@media screen and (max-width: 768px){
    
    .container-endereco{
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 1em 0px;
        h1{
            width: 80%;
            font-size: 1.2em;
        }
        .box-endereco{
            height: auto;
            padding: 1vh 0px;
            justify-content: space-evenly;
            
            .box-informacoes{
                flex-direction: column;
                justify-content: space-evenly;
                gap: 0.25em;
                margin: 0px;

                .secao-entrada, .secao-entrada-data{
                    width: 90%;
                    min-height: auto;
                }
                
                .secao-entrada{
                    margin-top: 0.75em;
                    
                    .container-input{
                        gap: 0.5em;
                    }
                }
                .secao-entrada-data{
                    margin-top: 0.75em;
                    .container-input{
                        gap: 0.25em;
                    }
                }

                .tipo-evento{
                    width: 90%;
                    min-height: auto;
                    margin-top: 0.5em;
                    gap: 0.5em;

                    select{
                        height: 4vh;
                    }
                    button{
                        margin-bottom: 2%;
                    }
                }
            }
            .box-complemento{
                width: 90%;


                .secao-entrada{
                    width: 100%;
                    min-height: auto;
                    margin-top: 0.75em;

                    .container-input{
                        gap: 0.5em;
                    }
                }
            }

            .box-preenchimento-obrigatorio{
                height: 3%;
                width: 90%;
                justify-content: flex-end;
                padding: 1em 0px;
            }
        }
    }
}