nav{
    width: 100%;
    height: 13vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--fonte-texto);

    .container-logo{
        height: 100%;
        width: 25%;

        display: flex;
        padding-left: 3%;
        align-items: center;
    }
    
    .container-links{
        height: 100%;
        width: 40%;
        
        display: flex;
        align-items: center;
        justify-content: center;
    
        div{
            height: 100%;
            width: 65%;
    
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            justify-content: space-around;

            a{
                font-weight: 600;
                color: #000000;
                text-decoration: none;
            }
            a:hover{
                transition: 0.2s;
                transform: scale(1.05);
            }
        }
    }
    
    .container-eventos{
        height: 100%;
        width: 25%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;    
    
        .botao-cadastro{
            height: 40%;
            width: 30%;
            margin: 3%;

            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;

            color: white;
            cursor: pointer;
            font-weight: 600;
            border-radius: 3px;
            border: 1px solid black;
            background-color: #000000;
            font-family: var(--fonte-texto);
        }
        .botao-cadastro:hover{
            color: black;
            transition: 0.3s;
            background-color: white;
        }
        .botao-cadastro:active{
            transition: 0.2s;
            transform: scale(0.95);
        }
        
        .botao-login{
            height: 40%;
            width: 30%;
            margin: 3%;

            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;

            color: black;
            cursor: pointer;
            font-weight: 600;
            border-radius: 3px;
            background-color: white;
            border: 1px solid black;
            font-family: var(--fonte-texto);
        }
        .botao-login:hover{
            color: white;
            transition: 0.3s;
            background-color: black;
        }
        .botao-login:active{
            transition: 0.2s;
            transform: scale(0.95);
        }
    }
}

.barra-divisoria{
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, #FF0000, #351DF1, #007D1D);
}