.botao-retroceder{
    padding: 5%;

    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;

    color: black;
    cursor: pointer;
    font-weight: normal;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
}
.botao-retroceder:hover{
    color: white;
    transition: 0.3s;
    background-color: black;
}
.botao-retroceder:active{
    transition: 0.2s;
    transform: scale(0.95);
}