.botoes-toggle {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: var(--gap-medio);
}

.botoes-toggle a {
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: var(--padding-medio);
  font-weight: bold;
}

.botoes-toggle a.ativo {
  background-color: var(--color-preto);
  color: var(--color-branco);
  border: none;
}

.botoes-toggle a.ativo:hover {
  background-color: var(--color-branco);
  color: var(--color-preto);
  border: 1px solid var(--color-preto);
}

.botoes-toggle a.inativo {
  background-color: transparent;
  border: 1px solid var(--color-preto);
  color: var(--color-preto);
}

.botoes-toggle a:hover {
  background-color: var(--color-preto);
  color: var(--color-branco);
  transition: background-color var(--transição);
}