.container-confirmar-email {
  background-color: white;
  padding: 2em 2em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    margin-bottom: 0.75em;
    text-align: center;
  }

  p {
    font-family: var(--fonte-texto);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1em;
    width: 30vw;
  }

  .codigo-confirmacao {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;

    input {
      width: 42px;
      height: 52px;
      text-align: center;
      font-size: 1.5rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      outline: none;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;

      &:focus {
        border-color: #000;
      }
    }
  }

  .eventos {
    display: flex;
    gap: 10px;

    .botao-confirmar-email {
      padding: 1em;
      font-family: var(--fonte-texto);
      border-radius: 6px;
      cursor: pointer;
      border: 1px solid black;
      text-align: center;
      background-color: black;
      color: white;
    }

    .botao-confirmar-email:hover{
      transition: 0.2s;
      outline: none;
      color: black;
      background-color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  
  .container-confirmar-email{
    width: 70%;

    h1{
      font-size: 1rem;
    }

    p{
      width: 60vw;
      font-size: 0.9rem;
    }

    .codigo-confirmacao{
      gap: 1vh;
      input{
        height: 6vh;
        width: 8vw;
      }
    }

    .eventos{
      .botao-confirmar-email {
        padding: 0.7em;
      }
    }
  }
}